* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("assets/images/bgimage11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Background color for the body */
}

/* ///// */
.containers {
  /* max-width: 450px; */
  display: block;
  width: auto;
  height: auto;
  margin: 20px;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  padding: 50px 45px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
  color: #000;
}

.temperature-icon {
  font-size: 45px;
}

h1 {
  letter-spacing: 1.2px;
  font-size: 30px;
}

.temperature-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

input {
  flex: 5;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  padding: 0 10px;
}

.unit {
  flex: 1;
  height: 60px;
  line-height: 60px;
  padding: 0 5px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: rgb(0, 174, 255);
  color: #fff;
  border-radius: 0 8px 8px 0;
}

.button {
  margin-top: 25px;
  text-align: center;
}

/* Tour css */
.start-tour-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4px;
  margin-right: 6px;
  transition: 0.3;
}

.start-tour-button:hover {
  border-radius: 4px;
}

.start-tour-button:hover .tour-icon {
  filter: brightness(0) invert(1);
}

.Button {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Button::after,
.Button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.Button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.Button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.Button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.Button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.Button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
/* Media Queries */

@media (max-width: 499px) {
  .title h1 {
    font-size: 25px;
  }
  .title i {
    font-weight: 600;
  }
}

@media (max-width: 413px) {
  .container {
    padding: 12px 10px;
  }
  .title h1 {
    font-size: 22px;
  }
  .title i {
    font-weight: 550;
  }
  input {
    padding: 0;
    font-weight: 480;
  }
}

.input:hover {
  border: 3px solid #0fbb8a;
  box-shadow: 0px 0px 5px 5px rgba(10, 200, 83, 0.65);
}
#clearButton {
  border-radius: 4px;
  padding: 6px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: transparent;
}
#clearButton:hover {
  background-color: #e8e5e5;
}

.footer {
  background-color: #2e2c2c;
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.footer .social {
  padding: 20px 0;
  text-align: center;
  color: #646566;
  background-color: #2e2c2c;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
  color: #06e6a6;
}

.footer .social a:hover {
  opacity: 0.9;
  background-color: #474b4b;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #f6ecec;
}

.copyright-heading {
  text-align: center;
  font-size: 20px;
  color: #f5efef;
}

.footer-para {
  text-wrap: wrap;
  padding: 10px;
  font-size: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: justify;
}
