/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  background: linear-gradient(to top, #0093E9, #80D0C7);
}

/* Header Styles */
.container .header {
  text-align: center;
  margin: 1rem 0;
}

.container .header h1 {
  font-size: 2.5rem;
  letter-spacing: 1.2px;
}

.container .header .temperature-icon {
  font-size: 3.5rem;
}

/* Start Tour Button Styles */
.container .start-tour-button {
  text-align: right;
  margin: 1rem;
}

.container .start-tour-button button {
  padding: 12px 30px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #06e6a6;
  color: #800080;
}

.container .start-tour-button button:hover {
  background-color: #0fbb8a;
}

/* Container Styles */
.container .containers {
  max-width: 450px;
  width: 90%;
  margin: 20px auto;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  padding: 5vw;
  margin-bottom: 1.5rem;
}

/* Input Styles (You can apply similar responsive adjustments here) */
/* ... */

/* Button Styles (You can apply similar responsive adjustments here) */
/* ... */

/* Footer Styles (You can apply similar responsive adjustments here) */
/* ... */

@media (max-width: 768px) {
  /* Apply responsive styles for screens less than or equal to 768px */
  .container .containers {
    width: 100%;
   
