* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2; /* Background color for the body */
}

/* ///// */
.container {
  /* max-width: 450px; */
  display: block;
  width: auto;
  height: auto;
  margin: 20px;
  background: #06e6a6;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
}

.temperature-icon {
  font-size: 45px;
  color: #000;
}

h1 {
  color: #000;
  letter-spacing: 1.2px;
  font-size: 30px;
}

.temperature-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

input {
  flex: 5;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  padding: 0 10px;
}

.unit {
  flex: 1;
  height: 60px;
  line-height: 60px;
  padding: 0 5px;
  text-align: center;
  font-size: 30px;
  background: #4d5964;
  color: #fff;
  border-radius: 0 8px 8px 0;
}

.button {
  margin-top: 25px;
  text-align: center;
}

button {
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #000;
  color: #fff;
}

/* Media Queries */

@media (max-width: 499px) {
  .title h1 {
    font-size: 25px;
  }
  .title i {
    font-weight: 600;
  }
}

@media (max-width: 413px) {
  .container {
    padding: 12px 10px;
  }
  .title h1 {
    font-size: 22px;
  }
  .title i {
    font-weight: 550;
  }
  input {
    padding: 0;
    font-weight: 480;
  }
}
